@import "../sass/util/reset";
@import "../sass/util/responsivo";
@import "../sass/util/mixins";


body {
    font-family: 'Inter',
        sans-serif;
    overflow-x: hidden;
}

a:hover {
    text-decoration: none;
}

.menu {
    width: 100%;
    background: rgb(235, 235, 235);
    height: 80px;
    display: flex;
    justify-content: flex-start;

    ion-icon {
        font-size: 42px;
        cursor: pointer;
    }
}


.sidebar__left {
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(18, 88, 145, 1) 100%);
    position: fixed;
    top: 80px;
    height: calc(100vh - 80px);
    width: 140px;
    left: -100%;
    transition: all .4s ease;
    z-index: 10;

    @include d(m) {
        width: 100%;
        height: 65px;
        background: linear-gradient(338deg, #020024 0%, #125891 100%);
    }

    .lista {
        @include d(m) {
            flex-direction: row;
            align-items: center;
        }
    }

    ul {
        display: flex;
        flex-direction: column;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;


            a {
                padding: 10px;
                margin: 10px;
                text-align: center;
                color: white !important;
                font-weight: 400;
                display: block;
                width: 90%;
                transition: .3s ease;
                border-radius: 5px;


                @include d(m) {
                    padding: 5px;
                    margin: 5px;
                    font-size: 14px;
                }

                @include d(ss) {
                    font-size: 12px;
                }

                &.active {
                    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
                }
            }

            img {
                margin: 0 auto 10px;

                @include d(m) {
                    display: none;
                }
            }
        }
    }
}

.sidebar__aberta {
    .sidebar__left {
        left: 0;
    }
}

.sidebar__left-secondary {
    background: #061741 !important;
    box-shadow: inset 10px 0px 5px -6px rgb(0 0 0 / 75%);
    position: fixed;
    top: 80px;
    height: calc(100vh - 80px);
    left: 140px;
    display: none;

    @include d(m) {
        top: 140px;
        left: 0;
        height: calc(100vh - 140px);
        width: 100%;

    }

    span {
        display: block;
        margin-top: 10px;
        /* background: white; */
        border-bottom: 1px solid black;
        margin-left: 10px;
        color: white;
        padding: 17px;
        box-shadow: 0px 10px 18px -13px rgb(0 0 0 / 75%);
        color: white;
        font-weight: 700;
        font-size: 16px;

        @include d(m) {
            padding: 15px 17px 5px;
        }
    }

    ul {
        overflow-y: scroll;
        height: 100%;

        li {
            a {
                text-align: start;
                transition: .3s ease;
                display: inline-flex;
                align-items: center;

                ion-icon {
                    margin-left: 10px;
                }

                &:hover {
                    background: #04092f;

                }
            }
        }
    }
}

@keyframes vemNenemm {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.sidebar__aberta .side__content[data-open="1"] {

    .sidebar__left-secondary.side__1 {
        display: block !important;
        // animation: vemNenemm .3s ease both;
        z-index: 9;
    }

}

.sidebar__aberta .side__content[data-open="2"] {

    .sidebar__left-secondary.side__2 {
        display: block !important;
        // animation: vemNenemm .3s ease both;
        z-index: 9;
    }

}

.sidebar__aberta .side__content[data-open="3"] {

    .sidebar__left-secondary.side__3 {
        display: block !important;
        // animation: vemNenemm .3s ease both;
        z-index: 9;
    }

}

.content-sideleft {
    position: fixed;
    display: none;
    z-index: 10;
}

.dropdown-submenu>.dropdown-menu {
    top: -100%;
}

//drop estilos
.drop-voador {
    .dropdown-menu {
        background: #061741 !important;
        color: white !important;

    }

    button {
        border: 1px solid transparent;
        background: #061741 !important;
        color: white !important;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);

    }

    .dropdown-toggle {
        padding-top: 15px;
        padding-bottom: 15px;
        outline: 1px solid transparent !important;

    }
}



/* modal estilos */

.modal {
    top: 140px;

    &-content {
        background: #061741;

    }

    &-content {
        height: calc(100vh - 145px);
    }


    &-header {
        border-bottom: 1px solid black;

        h4 {
            font-size: 18px;
            color: white !important;
            display: inline-flex;
            justify-content: space-between;
            width: 100%;

            ion-icon {
                color: white !important;
                font-size: 32px;
                opacity: 1;
            }
        }
    }

    &-body {
        ul {
            display: flex;
            padding: 0 20px;
            flex-direction: column;

            li {}
        }

        a {
            color: white !important;
            display: block;
            padding: 10px 5px;
            font-size: 16px;
            display: inline-flex;
            align-items: center;
            gap: 10px;
        }
    }
}

.modal-backdrop.show {
    opacity: 0;
}